@import '../../../css/index.scss';

#main {
    .intro {
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
        background-color: #000;
        margin-bottom: 60px;
        .typo {
            width: 100%;
            height:  150vh;
            position: relative;
            background: transparent;
            overflow: hidden;
            @media #{$tabletH} {
                font-size: 0.86em;
            }
            @media #{$tabletV} {
                font-size: 0.5em;
            }
            @media #{$phoneH} {
                font-size: 0.47em;
            }
            @media #{$phoneV} {
                font-size: 0.27em;
            }
            h2 {
                text-align: center;
                color: #fff;
                font-weight: 900;
                font-size: 6.25em;
                letter-spacing: 3px;
                white-space: nowrap;
                will-change: opacity;
                @media #{$tabletV} {
                    white-space: wrap;
                }
                @media #{$phoneH} {
                    font-weight: 700;
                }
                // @media #{$phoneH} {
                //     font-size: 0.7em;
                // }
                // @media #{$phoneV} {
                //     font-size: 0.6em;
                // }
                &.off {
                    // transition: 0.3s ease ;
                    position: absolute;
                    left: 50%;
                    opacity: 0;
                    top: 50vh;
                    transform: translate(-50%, -50%);
                }
                &.on {
                    transition: 0.5s ease-in-out ;
                    opacity: 1;
                    position: fixed;
                    left: 50%;
                    top: 50vh;
                    transform: translate(-50%, -50%);
                }
            }
        }
        
    }
}