@import '../../../css/index.scss';

#main {
    .intro {
        .mainVisual {
            width: 100%;
            height:  1200vh;
            overflow: hidden;
            position: relative;
            background-color: transparent;
            .contents {
                overflow: hidden;
                width: 100%;
                height: 100vh;
                left: 50%;
                opacity: 0;
                transform: translateX(-50%);
                background: #fff;
                &.off {
                    position: absolute;
                    top:100px;
                }
                &.on {
                    position: fixed;
                    bottom: 0px;
                }
                &.end {
                    position: absolute;
                    bottom: 0px;
                }
                .img_box {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    @include center(absolute);
                    .img {
                        width: 100%;
                        height: 100%;
                        @include center(absolute);
                        background: url("../../../images/junhee.png") no-repeat center bottom;
                        span {
                            @include blind();
                        }
                    }
                    
                }
            }
            
        }
    }
}

//text_box
#main {
    .mainVisual {
        .contents {
            .text_box {
                @include center(absolute);
                transform: translate(-120%, -50%);
                transition: 0.3s ease;
                background-color: transparent;
                width: 500px;
                height: 65px;
                h3 {
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    transform: translate(0, 30px);
                    text-align: left;
                    color: #000;
                    font-weight: 500;
                    font-size: 1.600em;
                    margin-bottom :10px;
                    opacity: 0;
                }
                p {
                    position: absolute;
                    left: 0px;
                    bottom: 0px;
                    transform: translate(0, 30px);
                    text-align: left;
                    color: #888;
                    font-weight: 500;
                    font-size: 1.5625em;
                    opacity: 0;
                }
                &.on {
                    transform: translate(-120%, -50%);
                    transition: 0.3s ease;
                    h3 {
                        opacity: 1;
                        transform: translate(0, 0);
                        transition: 0.7s ease-out 0.6s;
                    }
                    p {
                        opacity: 1;
                        transform: translate(0, 0);
                        transition: 0.7s ease-out 0.7s;
                    }
                }
            }
        }
    }
}


//cover
#main {
    .mainVisual {
        .contents {
            .cover {
                position: absolute;
                left: 100%;
                bottom: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(212, 212, 212, 1);
                will-change: transform;
                
                //video
                .inner {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 100vh;
                    box-sizing: border-box;
                }
                .video_box {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translate(0 , -50%);
                    width: 50%;
                    height: 100%;
                    z-index: 10;
                    padding: 15px;
                    box-sizing: border-box;
                    img {
                        height: 100%;
                    }
                    .imgBox {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 1;
                        transition: 0.5s ease;
                        box-sizing: border-box;
                        padding: 15px;
                        img {
                            display: block;
                            height: 100%;
                        }
                    }
                }
                //profile
                .profile {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    right: 0;
                    top: 50%;
                    transform: translate(0 , -50%);
                    box-sizing: border-box;
                    background-color: #fff;
                    .inner {
                        border: 1px solid red;
                        width: 1024px;
                        height: auto;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-30% , -50%);
                    }
                }
            }
        }
    }
}