@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
body {
  width: 100%;
  height: auto;
  font-family: "Noto Sans KR", "Margun-gothic", "맑은-고딕", "Dotum", "돋움", sans-serif;
  background-color: #fff;
  font-size: 1em;
}

@media screen and (max-width: 960px) {
  body {
    font-size: 1em;
  }
}

.wrap {
  width: 100%;
  height: auto;
  height: 4000px;
}

#main {
  width: 100%;
  height: auto;
  position: relative;
}

#main .intro .mainVisual {
  width: 100%;
  height: 11400px;
  overflow: hidden;
  position: relative;
  background-color: transparent;
}

#main .intro .mainVisual .contents {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  left: 50%;
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fff;
}

#main .intro .mainVisual .contents.off {
  position: absolute;
  top: 100px;
}

#main .intro .mainVisual .contents.on {
  position: fixed;
  bottom: 0px;
}

#main .intro .mainVisual .contents.end {
  position: absolute;
  bottom: 0px;
}

#main .intro .mainVisual .contents .img_box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#main .intro .mainVisual .contents .img_box .img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("../../../images/junhee.png") no-repeat center bottom;
}

#main .intro .mainVisual .contents .img_box .img span {
  display: block;
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  z-index: -2;
  clip: rect(1px, 1px, 1px, 1px);
}

#main .mainVisual .contents .text_box {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: translate(-120%, -50%);
          transform: translate(-120%, -50%);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background-color: transparent;
  width: 500px;
  height: 65px;
}

#main .mainVisual .contents .text_box h3 {
  position: absolute;
  left: 0px;
  top: 0px;
  -webkit-transform: translate(0, 30px);
          transform: translate(0, 30px);
  text-align: left;
  color: #000;
  font-weight: 500;
  font-size: 1.600em;
  margin-bottom: 10px;
  opacity: 0;
}

#main .mainVisual .contents .text_box p {
  position: absolute;
  left: 0px;
  bottom: 0px;
  -webkit-transform: translate(0, 30px);
          transform: translate(0, 30px);
  text-align: left;
  color: #888;
  font-weight: 500;
  font-size: 1.5625em;
  opacity: 0;
}

#main .mainVisual .contents .text_box.on {
  -webkit-transform: translate(-120%, -50%);
          transform: translate(-120%, -50%);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#main .mainVisual .contents .text_box.on h3 {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: 0.7s ease-out 0.6s;
  transition: 0.7s ease-out 0.6s;
}

#main .mainVisual .contents .text_box.on p {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: 0.7s ease-out 0.7s;
  transition: 0.7s ease-out 0.7s;
}

#main .mainVisual .contents .cover {
  position: absolute;
  left: 100%;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  will-change: transform;
}

#main .mainVisual .contents .cover .inner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#main .mainVisual .contents .cover .video_box {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 100%;
  height: 100%;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#main .mainVisual .contents .cover .video_box img {
  height: 100%;
}

#main .mainVisual .contents .cover .video_box .imgBox {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

#main .mainVisual .contents .cover .video_box .imgBox img {
  display: block;
  height: 100%;
  will-change: opacity;
}

#main .mainVisual .contents .cover .video_box .imgBox.off {
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

#main .mainVisual .contents .cover .video_box .imgBox.on {
  opacity: 0;
  width: 150px;
  height: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 4px solid #cbcbcb;
  overflow: hidden;
  left: calc(50% - 75px);
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 50%;
  -webkit-animation: imgbox 1.5s ease forwards;
          animation: imgbox 1.5s ease forwards;
  -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.4), 0 8px 16px -8px rgba(0, 0, 0, 0.7), 0 -6px 16px -6px rgba(0, 0, 0, 0.08);
          box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.4), 0 8px 16px -8px rgba(0, 0, 0, 0.7), 0 -6px 16px -6px rgba(0, 0, 0, 0.08);
}

#main .mainVisual .contents .cover .video_box .imgBox.on img {
  width: 150px;
  height: 267px;
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@-webkit-keyframes imgbox {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes imgbox {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#main .contents .cover .profile {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#main .contents .cover .profile .text-box {
  width: 1024px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-30%, -50%);
          transform: translate(-30%, -50%);
}

#main .contents .cover .profile .text-box h2.tit {
  width: 100%;
  text-align: left;
  font-size: 4.25em;
  font-weight: 600;
  color: #262626;
  line-height: 1.5;
  opacity: 0;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

#main .contents .cover .profile .text-box h2.tit.on {
  opacity: 1;
}

#main .contents .cover .profile .text-box h2.tit span {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

#main .contents .cover .profile .iconBox {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#main .contents .cover .profile .iconBox::after {
  display: block;
  position: absolute;
  content: "";
  width: 815px;
  height: 815px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  background: url("../../../images/border.png") no-repeat center center;
}

#main .contents .cover .profile .iconBox.off {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  -webkit-transition: 0.5s cubic-bezier(0, 1.19, 1, 1.07);
  transition: 0.5s cubic-bezier(0, 1.19, 1, 1.07);
}

#main .contents .cover .profile .iconBox.on {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  -webkit-transition: 1s cubic-bezier(0, 1.44, 0.71, 0.8);
  transition: 1s cubic-bezier(0, 1.44, 0.71, 0.8);
}

#main .contents .cover .profile .iconBox.on::after {
  opacity: 1;
  -webkit-transition: 0.6s ease-in-out 1.1s;
  transition: 0.6s ease-in-out 1.1s;
}

#main .contents .cover .profile .iconBox .icon {
  position: absolute;
  left: calc(50% - 75px);
  top: calc(50% - 75px);
  width: 150px;
  height: 150px;
  border-radius: 70px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 5;
  cursor: pointer;
}

#main .contents .cover .profile .iconBox .icon span {
  display: block;
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  z-index: -2;
  clip: rect(1px, 1px, 1px, 1px);
}

#main .contents .cover .profile .iconBox .icon.html5 {
  background-image: url("../../../images/html5i.png");
  -webkit-transform: translate(-400px, 0);
          transform: translate(-400px, 0);
}

#main .contents .cover .profile .iconBox .icon.css3 {
  background-image: url("../../../images/css3i.png");
  -webkit-transform: translate(-280px, -280px);
          transform: translate(-280px, -280px);
}

#main .contents .cover .profile .iconBox .icon.jQuery {
  background-image: url("../../../images/jq.png");
  -webkit-transform: translate(0, -400px);
          transform: translate(0, -400px);
}

#main .contents .cover .profile .iconBox .icon.javascript {
  background-image: url("../../../images/js.png");
  -webkit-transform: translate(280px, -280px);
          transform: translate(280px, -280px);
}

#main .contents .cover .profile .iconBox .icon.react {
  background-image: url("../../../images/react.png");
  -webkit-transform: translate(400px, 0);
          transform: translate(400px, 0);
}

#main .contents .cover .profile .iconBox .icon.photoshop {
  background-image: url("../../../images/photoshop.png");
  -webkit-transform: translate(280px, 280px);
          transform: translate(280px, 280px);
}

#main .contents .cover .profile .iconBox .icon.illustrator {
  background-image: url("../../../images/illu.png");
  -webkit-transform: translate(0, 400px);
          transform: translate(0, 400px);
}

#main .contents .cover .profile .iconBox .icon.scss {
  background-image: url("../../../images/scss.png");
  -webkit-transform: translate(-280px, 280px);
          transform: translate(-280px, 280px);
}
/*# sourceMappingURL=mainVisual.css.map */