@charset "UTF-8";


/* slide */
.main_slide {
   width: 1000px;
   height: 1200px;
   position: absolute;
   left: 50%;
   top: 0;
   transform: translate(-50%, 0);
   background-color: #ccc;
   overflow: hidden;
}

/* slide content */
.slide_wrap {
   width: auto;
   height: auto;
   left: 0;
   position: absolute;
   display: flex;
   justify-content: flex-start;
   flex-wrap: nowrap;
}
.slide_item {
   position: relative;
   width: 1000px;
   height: 600px;
   text-align: center;
   line-height: 600px;
   transform: translate(0, 0) scale(1);
   opacity: 1;
   /* transition: 0.5s ease-in-out; */
   font-size: 30px;
}

/* slide_item on */
.slide_item.on {
   opacity: 1;
   transform: translate(0, 0) scale(1);
   z-index: 5;
}

/* 데모를 위한 style */
.item0 {
   background-color: turquoise;
}
.item1 {
   background-color: wheat;
}
.item2 {
   background-color: gold;
}
.item3 {
   background-color: coral;
}
.item4 {
   background-color: skyblue;
}
.vir {
   position: absolute;
   left: 0;
   top: 50%;
   transform: translate(-100%, -50%);
}
.vir2 {
   position: absolute;
   right: 0;
   top: 50%;
   transform: translate(100%, -50%);
}

/* slide dot */
.slide_dots {
   position: absolute;
   left: 50%;
   top: 101%;
   display: flex;
   justify-content: center;
   transform: translate(-50%, 0);
   z-index: 10;
}
.slide_dot {
   background-color: palegoldenrod;
   margin: 0 20px;
   width: 20px;
   height: 20px;
   border-radius: 10px;
   text-align: center;
   line-height: 20px;
   z-index: 10;
}
.slide_dot.on {
   background-color: red;
}
.slide_dot a {
   color: #000;
}
/* slide arrows */
.slide_arrows {
   padding: 10px;
}

/* slide auto play/pause button */
.btn_play {
   padding: 10px;
}
.btn_play.pause {
   background-color: red;
   color: #fff;
}