@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
body {
  width: 100%;
  height: auto;
  font-family: "Noto Sans KR", "Margun-gothic", "맑은-고딕", "Dotum", "돋움", sans-serif;
  background-color: #fff;
  font-size: 16px;
}

.wrap {
  width: 100%;
  height: auto;
  height: auto;
}

#main {
  width: 100%;
  height: auto;
  position: relative;
}

#header {
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 20;
  border-bottom: 1px solid #000;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
}

@media screen and (min-width: 737px) {
  #header {
    left: 0;
    top: 0;
  }
}

@media screen and (max-width: 736px) {
  #header {
    border: 0;
    background-color: transparent;
    height: 0;
    width: 0;
    right: 30px;
    bottom: 30px;
  }
}

@media screen and (max-width: 414px) {
  #header {
    right: 40px;
    bottom: 90px;
  }
}

#header .inner {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  padding: 0 15px;
}

@media screen and (max-width: 736px) {
  #header .inner {
    height: auto;
    width: 30px;
    padding: 0;
  }
}

#header .inner .logo {
  position: relative;
  line-height: 50px;
}

@media screen and (max-width: 736px) {
  #header .inner .logo {
    display: none;
  }
}

#header .inner .logo a {
  display: block;
  width: 71px;
  height: 50px;
  color: inherit;
  font-family: "Poppins", sans-serif;
  background-repeat: no-repeat;
  background-position: center 10px;
  background-size: 71px 19px;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  z-index: 4;
}

#header .inner .logo span {
  display: block;
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  z-index: -2;
  clip: rect(1px, 1px, 1px, 1px);
}

#header .inner .gnb {
  width: auto;
  height: auto;
  position: relative;
}

#header .inner .gnb .menu_m_gnb {
  display: none;
}

#header .inner .gnb .menu_gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 50px;
  width: 500px;
}

@media screen and (max-width: 736px) {
  #header .inner .gnb .menu_gnb {
    display: none;
  }
}

#header .inner .gnb .menu_gnb li {
  position: relative;
}

#header .inner .gnb .menu_gnb li::after {
  display: block;
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  top: 70%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: #000;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

#header .inner .gnb .menu_gnb li:hover::after {
  width: 100%;
}

#header .inner .gnb .menu_gnb a {
  position: relative;
  display: table-cell;
  font-family: "Poppins", sans-serif;
  line-height: 51px;
  font-style: italic;
  font-weight: 600;
  color: inherit;
  text-transform: uppercase;
  font-size: 14px;
  z-index: 2;
}

#header .inner .gnb .btn_gnb {
  display: none;
}

#header .inner .gnb .btn_gnb .blind {
  display: block;
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  z-index: -2;
  clip: rect(1px, 1px, 1px, 1px);
}

@media screen and (max-width: 736px) {
  #header .inner .gnb {
    position: absolute;
    right: 100%;
    bottom: 100%;
    opacity: 0.7;
  }
  #header .inner .gnb .menu_m_gnb {
    display: block;
    width: 46px;
    height: 0;
    background-color: #383838;
    border-radius: 23px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    overflow: hidden;
    padding-bottom: 46px;
  }
  #header .inner .gnb .menu_m_gnb li {
    margin-bottom: 10px;
  }
  #header .inner .gnb .menu_m_gnb li a {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    display: block;
    width: 46px;
    height: 34px;
    line-height: 34px;
    text-align: center;
  }
  #header .inner .gnb .btn_gnb {
    display: block;
    border: none;
    padding: 0;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    display: block;
    z-index: 20;
    position: absolute;
    left: calc(50% - 23px);
    bottom: 0;
    width: 46px;
    height: 46px;
  }
  #header .inner .gnb .btn_gnb .btn_logo {
    position: absolute;
    display: block;
    width: 36px;
    height: 36px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #fff;
    font-size: 10px;
    text-align: center;
    font-weight: 800;
    font-style: italic;
    line-height: 36px;
  }
  #header .inner .gnb .btn_gnb .btn_logo::after {
    display: block;
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #262626;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #header .inner .gnb .btn_gnb .blind {
    display: block;
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    z-index: -2;
    clip: rect(1px, 1px, 1px, 1px);
  }
}

#header.off {
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
}

#header.off .logo a {
  background-image: url("../../../images/junlogoW.svg");
}

#header.off .gnb li::after {
  background-color: #fff !important;
}

@media screen and (max-width: 736px) {
  #header.off {
    background-color: transparent;
  }
  #header.off .gnb .menu_m_gnb {
    background-color: white;
  }
  #header.off .gnb .menu_m_gnb li a {
    color: #262626;
  }
  #header.off .gnb .btn_gnb .btn_logo {
    background-color: #262626;
    color: #fff;
  }
  #header.off .gnb .btn_gnb .btn_logo::after {
    border-color: #fff;
  }
}

#header.on {
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
}

#header.on .logo a {
  background-image: url("../../../images/junlogoB.svg");
}

@media screen and (max-width: 736px) {
  #header.on {
    background-color: transparent;
  }
}
/*# sourceMappingURL=header.css.map */