@import '../../../css/index.scss';


#header {
    @include box();
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
    border-bottom: $border;
    transition: 0.5s ease-in-out;
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
    
    .inner {
        @include inner();
        @include flexBox(space-between);
        height: 50px;
        .logo {
            position: relative;
            line-height: 50px;
            a {
                display: block;
                width: 71px;
                height: 50px;
                color: inherit;
                font-family: $poppins;
                background-repeat: no-repeat;
                background-position: center 10px;
                background-size: 71px 19px;
                font-style: italic;
                text-transform: uppercase;
                font-weight: 600;
                position: relative;
                z-index: 4;
                
            }
            span {
                @include blind();
            }
        }



        .gnb {
            height: 50px;
            .menu_gnb {
                @include flexBox(space-between);
                line-height: 50px;
                width: 500px;
                li {
                    position: relative;
                    &::after {
                        @include after();
                        width: 0%;
                        height: 2px;
                        top: 70%;
                        left: 0;
                        transform: translate(0, -50%);
                        background-color: #000;
                        transition: 0.4s ease-in-out;
                    }
                    &:hover::after {
                        width: 100%;
                    }
                }
                a {
                    position: relative;
                    display: table-cell;
                    font-family: $poppins;
                    line-height: 51px;
                    font-style: italic;
                    font-weight: 600;
                    color: inherit;
                    text-transform: uppercase;
                    font-size: 14px;
                    z-index: 2;
                }
            }
        }
    }
    &.off {
        background-color: rgba(255, 255, 255, 0);
        color: #fff ;
        .logo {
            a {
                background-image: url("../../../images/junlogoW.svg");
            }
        }
        .gnb li::after {
            background-color: #fff !important;
        }
    }
    &.on {
        background-color: rgba(255, 255, 255, 0.7);
        color: #000;
        .logo {
            a {
                background-image: url("../../../images/junlogoB.svg");
            }
        }
    }
}