@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

// 변수 

//margin / padding 
// font 
$defaultFont: 'Margun-gothic', '맑은-고딕', 'Dotum', '돋움', sans-serif;
$noto: 'Noto Sans KR';
$poppins: 'Poppins', sans-serif;

// background-color 
$mainbg: #fff;
$bg0: transparent;

// border
$border: 1px solid #000;

//media 
$tabletH : "screen and (max-width : 1024px)";
$tabletV : "screen and (max-width : 768px)";
$phoneV : "screen and (max-width : 414px) ";
$phoneH : "screen and (max-width : 736px)";

// mixin 
@mixin box {
    width: 100%;
    height: auto;
}
@mixin inner {
    max-width: 1200px;
    margin:0 auto;
    position: relative;
    background-color: $bg0;
}
@mixin rela {
    position: relative;
}
@mixin flexBox($justify) {
    display: flex;
    justify-content: $justify;
}
@mixin blind {
    display: block;
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    z-index: -2;
    clip: rect(1px, 1px, 1px, 1px);
}
@mixin clearfix {
    &::after {
        display: block; 
        content:""; 
        line-height:0;
        clear: both;
    }
}
@mixin after {
    display: block;
    position: absolute;
    content: "";
}
@mixin btn {
    display: block;
    border: none;
    padding: 0;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
@mixin center($posi) {
    position: $posi;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}




