@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
/* 변수 */
/* margin / padding */
/* font */
/* background-color */
/* border */
/* mixin */
body {
  width: 100%;
  height: auto;
  font-family: "Noto Sans KR", "Margun-gothic", "맑은-고딕", "Dotum", "돋움", sans-serif;
  background-color: #fff;
  font-size: 1em;
}

@media screen and (max-width: 960px) {
  body {
    font-size: 1em;
  }
}

.wrap {
  width: 100%;
  height: auto;
  height: 4000px;
}

#header {
  width: 100%;
  height: auto;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  color: #000;
  border-bottom: 1px solid #000;
}

#header .inner {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
}

#header .inner .logo {
  position: relative;
  line-height: 50px;
}

#header .inner .logo::after {
  display: block;
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  background-color: #f7df1d;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 65%;
  font-size: 8px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#header .inner .logo a {
  display: table-cell;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 600;
  position: relative;
  z-index: 4;
}

#header .inner .logo span {
  display: block;
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  z-index: -2;
  clip: rect(1px, 1px, 1px, 1px);
}

#header .inner .gnb {
  height: 50px;
}

#header .inner .gnb .menu_gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 50px;
  width: 500px;
}

#header .inner .gnb .menu_gnb li {
  position: relative;
}

#header .inner .gnb .menu_gnb li::after {
  display: block;
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  top: 70%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: #000;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

#header .inner .gnb .menu_gnb li:hover::after {
  width: 100%;
}

#header .inner .gnb .menu_gnb a {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
}

@media screen and (max-width: 960px) {
  #header .inner .gnb .menu_gnb {
    display: none;
  }
}

#main {
  width: 100%;
  height: auto;
  position: relative;
}

#main .intro {
  width: 100%;
  height: 1800px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}

#main .intro .main_visual {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  top: 0;
  left: 0;
}

#main .intro .main_visual .visual {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("../images/winter_day.jpg") no-repeat center center;
  background-size: cover;
}

#main .intro .main_visual .visual .tit {
  width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  font-size: 18.75em;
  font-style: italic;
  font-weight: 800;
  letter-spacing: 0.25em;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.7) 10px 20px 20px;
}

#main .web {
  width: 100%;
  height: auto;
  background-color: #ccc;
}

#main .web .foreword {
  width: 100%;
  height: auto;
}

#main .web .foreword .inner {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  background-color: transparent;
}

#main .web .foreword .inner .tit {
  font-size: 30px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#main .web .port_site {
  width: 100%;
  height: 900px;
}

#main .web .port_site .inner {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  background-color: transparent;
  height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .web .port_site .inner .imgbox {
  width: 50%;
}

#main .web .port_site .inner .contents {
  width: 50%;
}

#main .web .port_site .inner .contents .tit {
  text-transform: capitalize;
  margin-bottom: 30px;
  font-size: 3em;
  font-weight: 600;
}

#main .web .port_site .inner .contents .lang_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 10px;
}

#main .web .port_site .inner .contents .lang_menu li {
  margin-right: 10px;
  font-weight: 500;
}

#main .web .port_site .inner .contents .divi {
  margin-bottom: 10px;
}

#main .web .port_site .inner .contents .pers_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 10px;
}

#main .web .port_site .inner .contents .pers_menu li {
  margin-right: 10px;
  font-weight: 500;
}

#main .web .port_site .inner .contents .exp {
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #3d3d3d;
}

@media screen and (max-width: 960px) {
  #main .intro .main_visual .visual .tit {
    font-size: 3em;
  }
}
/*# sourceMappingURL=index.css.map */