@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

/* 변수 */

/* margin / padding */
/* font */
$defaultFont: 'Margun-gothic', '맑은-고딕', 'Dotum', '돋움', sans-serif;
$noto: 'Noto Sans KR';
$poppins: 'Poppins', sans-serif;
/* background-color */
$mainbg: #fff;
$bg0: transparent;
/* border */
$border: 1px solid #000;

/* mixin */
@mixin box {
    width: 100%;
    height: auto;
}
@mixin inner {
    max-width: 1024px;
    margin:0 auto;
    position: relative;
    background-color: $bg0;
}
@mixin rela {
    position: relative;
}
@mixin flexBox($justify) {
    display: flex;
    justify-content: $justify;
}
@mixin blind {
    display: block;
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    z-index: -2;
    clip: rect(1px, 1px, 1px, 1px);
}
@mixin clearfix {
    &::after {
        display: block; 
        content:""; 
        line-height:0;
        clear: both;
    }
}
@mixin after {
    display: block;
    position: absolute;
    content: "";
}
@mixin btn {
    display: block;
    border: none;
    padding: 0;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}


body {
    @include box();
    font-family: $noto, $defaultFont;
    background-color: $mainbg;
    font-size: 1em;
}
@media screen and (max-width: 960px) {
    body {
        font-size: 1em;
    }
}

.wrap {
    @include box();
    height: 4000px;
    overflow: hidden;
}
 

#header {
    @include box();
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
    color: #000;
    border-bottom: $border;
    background-color: rgba(255, 255, 255, 0.7);
    .inner {
        @include inner();
        @include flexBox(space-between);
        height: 50px;
        .logo {
            position: relative;
            line-height: 50px;
            &::after {
                @include after();
                width: 30px;
                height: 30px;
                box-sizing: border-box;
                border-radius: 50%;
                background-color: #f7df1d;
                text-align: center;
                font-family: $poppins;
                font-weight: 600;
                position: absolute;
                top: 50%;
                left: 65%;
                font-size: 8px;
                transform: translate(-50%, -50%);
            }
            // &::after {
            //     @include after();
            //     width: 40px;
            //     height: 2px;
            //     background: linear-gradient( to right, rgba(255, 121, 135,0) 0%, rgba(255, 121, 135,1) 50%);
            //     left: 82%;
            //     top: 48%;
            //     transform: translate(-50%, -50%);
            // }
            // &::before {
            //     @include after();
            //     width: 40px;
            //     height: 2px;
            //     background: linear-gradient( to right, rgba(68, 147, 255,0) 0%, rgba(68, 147, 255,1) 50%);
            //     left: 74%;
            //     top: 56%;
            //     transform: translate(-50%, -50%);
            // }
            a {
                display: table-cell;
                color: #000;
                font-family: $poppins;
                font-style: italic;
                font-weight: 600;
                position: relative;
                z-index: 4;
            }
            span {
                @include blind();
            }
        }
        .gnb {
            height: 50px;
            .menu_gnb {
                @include flexBox(space-between);
                line-height: 50px;
                width: 500px;
                li {
                    position: relative;
                    &::after {
                        @include after();
                        width: 0%;
                        height: 2px;
                        top: 70%;
                        left: 0;
                        transform: translate(0, -50%);
                        background-color: #000;
                        transition: 0.4s ease-in-out;
                    }
                    &:hover::after {
                        width: 100%;
                    }
                }
                a {
                    position: relative;
                    display: table-cell;
                    font-family: $poppins;
                    line-height: 51px;
                    font-style: italic;
                    font-weight: 600;
                    color: #000;
                    text-transform: uppercase;
                    font-size: 14px;
                    z-index: 2;
                }
            }
        }
    }
}
@media screen and  (max-width: 960px) {
    #header {
        .inner {
            .gnb {
                .menu_gnb {
                    display: none;
                }
            }
        }
    }
}



#main {
    @include box();
    position: relative;
    .intro {
        width: 100%;
        height: 1800px;
        position: relative;
        overflow: hidden;
        background-color: #fff;
        .main_visual {
            width: 100%;
            height: 0;
            padding-bottom: 56.25%;
            overflow: hidden;
            top:0;
            left: 0;
            .visual {
                position: absolute;
                width: 100%;
                height: 100%;
                top:50%;
                left: 50%;
                transform: translate(-50%,-50%);
                background: url("../images/winter_day.jpg") no-repeat center center;
                background-size: cover;
                .tit {
                    width: 100%;
                    text-align: center;
                    font-family: $poppins;
                    overflow: hidden;
                    font-size: 18.75em;
                    font-style: italic;
                    font-weight: 800;
                    letter-spacing: 0.25em;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    color: #fff;
                    text-shadow: rgba(0, 0 ,0, 0.7) 10px 20px 20px;
                }
            }
            
        }
    }
    .skill {
        position: relative;
        height: 1000px;
    }
    .web {
        width: 100%;
        height: auto;
        position: relative;
        background-color: #fff;
        .foreword {
            width: 100%;
            height: auto;
            margin-bottom: 100px;
            .inner {
                @include inner();
                .tit {
                    font-size: 4.0625em;
                    font-weight: 600;
                    color: #000;
                    text-transform: uppercase;
                    border-bottom: 1px solid #888;
                    // letter-spacing: 0.1em;
                }
                .exp {
                    font-size: 1.875em;
                    font-weight: 600;
                    line-height: 1.5;
                    margin-bottom: 20px;
                    color: #888;
                }
            }
        }
        .port_site {
            width: 100%;
            padding-bottom: 100px;
            margin: 50px 0;
            .inner {
                @include inner();
                .tit {
                    text-transform: capitalize;
                    margin-bottom: 30px;
                    font-size: 4.0625em;
                    font-weight: 600;
                    color: #888;
                    margin: 60px 0 100px;
                    .tit_top {
                        font-weight: 600;
                        color: #888;
                        display: block;
                    }
                    .key {
                        font-weight: 600;
                        color: #000;
                    }
                }
                .imgbox {
                    width: 100%;
                    height: auto;
                    margin-bottom: 100px;
                    position: relative;
                    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.4), 
                        0 8px 16px -8px rgba(0,0,0,.7),0 -6px 16px -6px rgba(0,0,0,0.08);
                    a {
                        img {
                            display: block;
                            width: 1024px;
                            height: 700px;                           
                        }
                    }
                    
                }
                .contents {
                    width: 100%;
                    .exp {
                        border-bottom: 1px solid #888;
                        font-size: 1.875em;
                        font-weight: 600;
                        line-height: 1.5;
                        padding-bottom: 30px;
                        margin-bottom: 30px;
                        color: #888;
                    }
                    .detail {
                        @include flexBox(flex-start);
                        .lang_menu {
                            @include flexBox(flex-start);
                            margin-bottom: 10px;
                            padding-right: 50px;
                            position: relative;
                            &::after {
                                @include after();
                                background-color: #ccc;
                                width: 2px;
                                height: 20px;
                                position: absolute;
                                right: 25px;
                                top: 50%;
                                transform:  translate(0, -50%);
                            }
                            li.lang {
                                margin-right: 10px;
                                padding: 0 10px;
                                width: 30px;
                                height: 40px;
                                position: relative;
                                &.html5 {
                                    background: url("../images/html5.png") no-repeat center center;
                                    background-size: 30px 34px; 
                                    text-transform: uppercase;
                                }
                                &.css3 {
                                    background: url("../images/css3.png") no-repeat center center;
                                    background-size: 30px 34px;
                                    text-transform: uppercase;
                                }
                                &.jQuery {
                                    background: url("../images/jquery.png") no-repeat center center;
                                    background-size: 30px 34px;
                                }
                                &.javascript {
                                    background: url("../images/js.jpg") no-repeat center center;
                                    background-size: 34px 34px;
                                    text-transform: capitalize;
                                }
                                &:last-child {
                                margin-right:0;
                                }
                            }
                        }
                        .divi {
                            margin-bottom: 10px;
                            font-weight: 600;
                            font-size: 1.2em;
                            line-height: 40px;
                            color: #000;
                            padding-right: 50px;
                            position: relative;
                            &::after {
                                @extend .lang_menu::after
                            }
                        }
                        .pers_menu {
                            @include flexBox(flex-start);
                            margin-bottom: 10px;
                            li {
                                line-height: 40px;
                                margin-right: 10px;
                                font-weight: 600;
                                font-size: 1.2em;
                                color: #888;
                                &:first-child {
                                    color: #262626;
                                }
                            }
                        }
                    }
                    
                    
                }
            }

        &.site3 {
            .imgbox {
                position: relative;
                margin-bottom: 100px;
            }
            .contents {
                position: relative;
                width: 1024px;
                height: 700px;
                .img {
                    position: absolute;
                    left: 50%;
                    top: 0;
                    transform: translate(-50%, 0);
                    transition: 0.7s ease-in-out;
                    opacity: 0;
                    &.on {
                        opacity: 1;
                        z-index: 5;
                    }
                }

            }
            .menu_team {
                position: absolute;
                bottom: -75px;
                left: 50%;
                transform: translate(-50%, 0);
                .inner {
                    @include flexBox(center);
                    .btn_team {
                        @include btn();
                        width: 150px;
                        height: 45px;
                        line-height: 45px;
                        font-size: 1.25em;
                        font-weight: 600;
                        color: #888;
                        &.on {
                            color: #000;
                        }
                    }
                }
                .active {
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: -1px;
                    background-color: #ccc;
                    left: 50%;
                    transform: translate(-50%, 0);
                    .active_bar {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 150px;
                        height: 2px;
                        background-color: #000;
                        transition: 0.4s ease-in-out;
                    }
                }
            }
        }

        }
    }
    
}



@media screen and  (max-width: 960px) {
    #main {
        .intro {
            .main_visual {
                .visual {
                    .tit {
                        font-size: 3em; 
                    }
                }
            }
        }
    }
}