@import '../../../css/index.scss';



#main {
    .skill {
        position: relative;
        background-color: #fff;
        .inner {
            @include inner();
            height: 1000px;
        }   
            .tit {
                position: relative;
                width: auto;
                height: auto;
                h3 {
                    position: relative;
                    text-transform: uppercase;
                    text-align: center;
                    line-height: 1;
                    font-size: 4.0625em;
                    white-space: nowrap;
                    font-weight: 600;
                    color: #262626;
                    text-align: left;
                    z-index: 10;
                    border-bottom: 1px solid #888;
                    @media #{$tabletH} {
                        font-size: 4em;
                        text-indent: 10px;
                    }
                    @media #{$phoneH} {
                        font-size: 3em;
                        text-indent: 10px;
                    }
                }
                p {
                    font-family: $noto;
                    font-size: 1.875em;
                    font-weight: 600;
                    color: #888;
                    line-height: 1.5;
                    @media #{$tabletH} {
                        font-size: 1.8em;
                        text-indent: 10px;
                    }
                    @media #{$phoneH} {
                        font-size: 1.5em;
                    }
                }
            }
            .junimg {
                @include center(absolute);
                background-image: url("../../../images/junheeSkill.png");
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                opacity: 1;
                width: 150px;
                height: 150px;
                box-sizing: border-box;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                animation: imgbox 1.3s ease forwards;
                @media #{$tabletH} {
                    width: 130px;
                    height: 130px;
                }
                @media #{$tabletV} {
                    width: 110px;
                    height: 110px;
                }
                .name {
                    font-size: 1.125em;
                    font-weight: 500;
                    color: #262626;
                    position: absolute;
                    left: 50%;
                    top: 100%;
                    transform: translate(-50%, 0);
                }
            }
            .iconBox {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                will-change: scale;
                &::after {
                    @include after();
                    width:615px;
                    height: 615px;
                    box-sizing: border-box;
                    border-radius: 50%;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    background: url("../../../images/border.png") no-repeat center center;
                    background-size: cover;
                    @media #{$tabletH} {
                        width: 500px;
                        height: 500px;
                    }
                    @media #{$tabletV} {
                        width: 500px;
                        height: 500px;
                    }
                    @media #{$phoneH} {
                        display: none;
                    }
                }
                &.off {
                    transform: translate(-50%, -50%) scale(0) ;
                    opacity: 0;
                    transition: 0.5s cubic-bezier(0,1.19,1,1.07);
                }
                &.on {
                    transform: translate(-50%, -50%) scale(1) ;
                    opacity: 1;
                    transition: 1s cubic-bezier(0,1.44,.71,.8) 0.3s;
                    &::after {
                        opacity: 1;
                        transition: 0.6s ease-in-out 1.3s;
                    }
                }
                
                .icon {
                    position: absolute;
                    z-index: 10;
                    left: calc(50% - 55px);
                    top: calc(50% - 55px);
                    @media #{$tabletH} {
                        left: calc(50% - 45px);
                        top: calc(50% - 45px);
                    }
                    @media #{$tabletV} {
                        left: calc(50% - 40px);
                        top: calc(50% - 40px);
                    }
                    @media #{$phoneH} {
                        position: relative;
                        left: 0px;
                        top: 0px;
                        margin-top: 10px;
                    }
                    .iconImg {
                        width: 110px;
                        height: 110px;
                        border-radius: 50%;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        z-index: 5;
                        cursor: pointer;
                        span {
                            @include blind();
                        }
                        @media #{$tabletH} {
                            width: 90px;
                            height: 90px;
                        }
                        @media #{$tabletV} {
                            width: 80px;
                            height: 80px;
                        }
                        @media #{$phoneH} {
                            position: relative;
                            left: 0px;
                            top: 0px;
                            width: 70px;
                            height: 70px;
                            margin-top: 10px;
                        }
                    }
                    .iconcontents {
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translate(-100%, -50%);
                        color: #262626;
                        h4.icontit {
                            color: inherit;
                            margin-bottom: 10px;
                            text-transform: capitalize;
                            font-weight: 600;
                        }
                        p.content {
                            color: #888888;
                            width: 200px;
                            font-weight: 500;
                            span {
                                display: block;
                                font-weight: inherit;
                            }
                        }
                        @media #{$phoneH} {
                            position: relative;
                            
                            left: 0;
                            top: 0;
                        }
                        
                    }

                    &.html5 {
                        transform: translate(-300px, 0);
                        .iconImg {
                            background-image: url("../../../images/html5i.png");
                        }
                        .iconcontents {
                            .icontit {
                                text-transform: uppercase;
                            }
                        }
                        @media #{$tabletH} {
                            transform: translate(-240px, 0);
                        }
                        @media #{$phoneH} {
                            transform: translate(0, 0);
                            position: relative;
                        }
                    }
                    &.css3 {
                        .iconImg {
                            background-image: url("../../../images/css3i.png");
                        }
                        transform: translate(-215px, -215px);
                        .iconcontents {
                            .icontit {
                                text-transform: uppercase;
                            }
                        }
                        @media #{$tabletH} {
                            transform: translate(-175px, -175px);
                        }
                        @media #{$phoneH} {
                            transform: translate(0, 0);
                        }
                    }
                    &.jQuery {
                        .iconImg {
                            background-image: url("../../../images/jq.png");
                        }
                        transform: translate(0, -300px);
                        .iconcontents {
                            transform: translate(-20%, 100%);
                            .icontit {
                                text-transform: none;
                            }
                        }
                        @media #{$tabletH} {
                            transform: translate(0, -240px);
                        }
                        @media #{$phoneH} {
                            transform: translate(0, 0);
                        }
                    }
                    &.javascript {
                        .iconImg {
                            background-image: url("../../../images/js.png");
                        }
                        transform: translate(215px, -215px);
                        .iconcontents {
                            transform: translate(60%, -50%);
                            .icontit {
                                text-transform: capitalize;
                            }
                            @media #{$tabletH} {
                                transform: translate(45%, -50%);
                            }
                        }
                        @media #{$tabletH} {
                            transform: translate(175px, -175px);
                        }
                        @media #{$phoneH} {
                            transform: translate(0, 0);
                        }
                    }
                    &.react {
                        .iconImg {
                            background-image: url("../../../images/react.png");
                        }
                        transform: translate(300px, 0);
                        .iconcontents {
                            transform: translate(60%, -50%);
                            .icontit {
                                
                            }
                            @media #{$tabletH} {
                                transform: translate(45%, -50%);
                            }
                        }
                        @media #{$tabletH} {
                            transform: translate(240px, 0);
                        }
                        @media #{$phoneH} {
                            transform: translate(0, 0);
                        }
                    }
                    &.photoshop {
                        .iconImg {
                            background-image: url("../../../images/photoshop.png");
                        }
                        transform: translate(215px, 215px);
                        .iconcontents {
                            transform: translate(60%, -50%);
                            .icontit {
                                
                            }
                            @media #{$tabletH} {
                                transform: translate(45%, -50%);
                            }
                        }
                        @media #{$tabletH} {
                            transform: translate(175px, 175px);
                        }
                        @media #{$phoneH} {
                            transform: translate(0, 0);
                        }
                    }
                    &.illustrator {
                        .iconImg {
                            background-image: url("../../../images/illu.png");
                        }
                        transform: translate(0, 300px);
                        .iconcontents {
                            transform: translate(60%, 0%);
                            .icontit {
                                
                            }
                        }
                        @media #{$tabletH} {
                            transform: translate(0, 240px);
                        }
                        @media #{$phoneH} {
                            transform: translate(0, 0);
                        }
                    }
                    &.scss {
                        .iconImg {
                            background-image: url("../../../images/scss.png");
                        }
                        transform: translate(-215px, 215px);
                        .iconcontents {
                            .icontit {
                                text-transform: uppercase;
                            }
                        }
                        @media #{$tabletH} {
                            transform: translate(-175px, 175px);
                        }
                        @media #{$phoneH} {
                            transform: translate(0, 0);
                        }
                    }
                    .iconcontents {
                        h4.icontit {
                        }
                        p.content {
                        }
                        @media #{$tabletH} {
                        }
                        @media #{$phoneH} {
                            position: absolute;
                            // left: -200%;
                            // top: 0;
                            transform: translate(0, 0);
                        }
                        
                    }
                    
                }
        }
        
    }
}