@import "../../../css/index.scss";

#main {
    
    .web {
        width: 100%;
        height: auto;
        position: relative;
        background-color: #fff;
        .foreword {
            width: 100%;
            height: auto;
            margin-bottom: 100px;
            .inner {
                @include inner();
                .tit {
                    font-size: 4.0625em;
                    font-weight: 600;
                    color: #000;
                    text-transform: uppercase;
                    border-bottom: 1px solid #888;
                    // letter-spacing: 0.1em;
                }
                .exp {
                    font-size: 1.875em;
                    font-weight: 600;
                    line-height: 1.5;
                    margin-bottom: 20px;
                    color: #888;
                }
            }
        }
        // 포트폴리오
        .port_site {
            width: 100%;
            padding-bottom: 100px;
            margin: 50px 0;
            .inner {
                @include inner();
                @include flexBox(space-between);
                .textbox {
                    .tit {
                        margin-bottom: 30px;
                        font-size: 3.125em;
                        margin: 60px 0 100px;
                        position: relative;
                        height: 58px;
                            .text {
                                color: #262626;
                                font-weight: 600;
                                line-height: 50px;
                                position: relative;
                                z-index: 2;
                            }
                            .line {
                                display: block;
                                background-repeat: no-repeat;
                                background-position: center center;
                                background-size: cover;
                                height: 18px;
                                position: absolute;
                                left: 20px;
                                bottom: 0px;
                            }
                    }
                    &.naver {
                        .tit .line {
                            width: 130px;
                            background-image: url("../../../images/naverTit_L.png");
                        }
                    }
                    &.apple {
                        .tit .line  {
                            width: 140px;
                            background-image: url("../../../images/appleTit_L.png");
                        }
                    }
                    &.podopod {
                        .tit .line  {
                            width: 135px;
                            background-image: url("../../../images/podopodTit_L.png");
                        }
                    }
                }
                
                .imgbox {
                    max-width: 600px;
                    max-height: 700px;
                    padding: 20px;
                    box-sizing: border-box;
                    position: relative;
                    a.link {
                        position: relative;
                        display: block;
                        width: 560px;
                        height: 660px;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        padding: 50px 75px;
                        box-sizing: border-box;
                        box-shadow: 3px 3px 7px 0px rgba(0,0,0,.5); 
                        
                        .img {
                            width: 410px;
                            height: 560px;
                            display: block;
                            background-repeat: no-repeat;
                            background-position: center center;    
                            background-size: cover;    
                            box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.4), 
                        0 8px 16px -8px rgba(0,0,0,.7),0 -6px 16px -6px rgba(0,0,0,0.08); 
                            .blind {
                                @include blind();
                            }    
                        }
                    }
                    &.naver {
                        .link {
                            background-image: url("../../../images/naverBg.png");
                            .img {
                                background-image: url("../../../images/naver_L.jpg");
                            }
                        } 
                    }
                    &.apple {
                        .link {
                            background-image: url("../../../images/appleBg.png");
                            .img {
                                background-image: url("../../../images/apple_L.jpg");
                            }
                        } 
                    }
                    &.podopod {
                        .link {
                            background-image: url("../../../images/podopodBg.png");
                            .img {
                                background-image: url("../../../images/podopod_L.jpg");
                            }
                        } 
                    }
                    
                    
                }
                .contents {
                    width: 100%;
                    .exp {
                        border-bottom: 1px solid #888;
                        font-size: 1.875em;
                        font-weight: 600;
                        line-height: 1.5;
                        padding-bottom: 30px;
                        margin-bottom: 30px;
                        color: #888;
                    }
                    .detail {
                        @include flexBox(flex-start);
                        .lang_menu {
                            @include flexBox(flex-start);
                            margin-bottom: 10px;
                            padding-right: 50px;
                            position: relative;
                            &::after {
                                @include after();
                                background-color: #ccc;
                                width: 2px;
                                height: 20px;
                                position: absolute;
                                right: 25px;
                                top: 50%;
                                transform:  translate(0, -50%);
                            }
                            li.lang {
                                margin-right: 10px;
                                padding: 0 10px;
                                width: 30px;
                                height: 40px;
                                position: relative;
                                &.html5 {
                                    background: url("../../../images/html5.png") no-repeat center center;
                                    background-size: 30px 34px; 
                                    text-transform: uppercase;
                                }
                                &.css3 {
                                    background: url("../../../images/css3.png") no-repeat center center;
                                    background-size: 30px 34px;
                                    text-transform: uppercase;
                                }
                                &.jQuery {
                                    background: url("../../../images/jquery.png") no-repeat center center;
                                    background-size: 30px 34px;
                                }
                                &.javascript {
                                    background: url("../../../images/js.jpg") no-repeat center center;
                                    background-size: 34px 34px;
                                    text-transform: capitalize;
                                }
                                &:last-child {
                                margin-right:0;
                                }
                            }
                        }
                        .divi {
                            margin-bottom: 10px;
                            font-weight: 600;
                            font-size: 1.2em;
                            line-height: 40px;
                            color: #000;
                            padding-right: 50px;
                            position: relative;
                            &::after {
                                @extend .lang_menu::after
                            }
                        }
                        .pers_menu {
                            @include flexBox(flex-start);
                            margin-bottom: 10px;
                            li {
                                line-height: 40px;
                                margin-right: 10px;
                                font-weight: 600;
                                font-size: 1.2em;
                                color: #888;
                                &:first-child {
                                    color: #262626;
                                }
                            }
                        }
                    }
                    
                    
                }
            }

        }
    }
    
}