@import "../../../css/index.scss";

#main {
    
.web {
    width: 100%;
    height: auto;
    position: relative;
    background-color: #fff;
    .foreword {
        width: 100%;
        height: auto;
        margin-bottom: 100px;
        .inner {
            @include inner();

            // 태블릿 가로모드

            .tit {
                font-size: 4.0625em;
                font-weight: 600;
                color: #000;
                text-transform: uppercase;
                border-bottom: 1px solid #888;
                // letter-spacing: 0.1em;

                // 태블릿 가로모드
                @media #{$tabletH} {
                    font-size: 4em;
                    text-indent: 10px;
                }
                @media #{$phoneH} {
                    font-size: 3em;
                    text-indent: 10px;
                }
            }
            .exp {
                font-size: 1.875em;
                font-weight: 600;
                line-height: 1.5;
                margin-bottom: 20px;
                color: #888;

                // 태블릿 가로모드
                @media #{$tabletH} {
                    font-size: 1.8em;
                    text-indent: 10px;
                }
                @media #{$phoneH} {
                    font-size: 1.5em;
                    // text-indent: 10px;
                }
            }
        }
    }
        
    // 포트폴리오
    .port_site {
        width: 100%;
        padding-bottom: 100px;
        margin-top: 50px;
        @media #{$tabletH} {
            font-size: 0.9em;
        }
        @media #{$tabletV} {
            padding-bottom: 50px;
        }
        .inner {
            @include inner();
            @include flexBox(space-between);
            height: 700px;

            // 태블릿 가로모드
            @media #{$tabletH} {
                max-width: 1024px;
                height: auto;
                flex-wrap: wrap;
            }
            @media #{$tabletV} {
                height: auto;
                font-size: 0.9em;
                flex-direction: column;
            }
            .textbox {
                position: relative;
                height: 700px;
                margin: auto;
                padding: 20px;
                width: 600px;
                box-sizing: border-box;
                // 태블릿 가로모드
                @media #{$tabletH} {
                    max-width: 512px;
                    width: auto;
                    height: auto;
                    margin: auto;
                }
                @media #{$tabletV} {
                    max-width: 540px;
                }
                .contents {
                    width: 100%;
                    max-width: 540px;
                    position: relative;
                    left: 20px;
                    top: 50%;
                    transform: translate(0%, -50%);
                    @media #{$tabletH} {
                        max-width: 472px;
                        left: 0;
                        transform: translate(0, 0); 
                    }
                    @media #{$tabletV} {
                        max-width: 540px;
                    }
                    .tit {
                        font-size: 3.125em;
                        margin-bottom: 20px;
                        position: relative;
                        height: 60px;

                        // 태블릿 가로모드
                        @media #{$tabletH} {
                            font-size: 1em;
                            height: 50px;
                        }
                            .text {
                                display: block;
                                color: #262626;
                                font-weight: 600;
                                line-height: 50px;
                                position: relative;
                                z-index: 2;
                                height: 60px;
                                @media #{$tabletH} {
                                    font-size: 3em;
                                    height: 50px;
                                }
                            }
                            .line {
                                display: block;
                                background-repeat: no-repeat;
                                background-position: center center;
                                background-size: cover;
                                height: 18px;
                                position: absolute;
                                left: 20px;
                                bottom: 0px;
                            }
                        }
                    &.naver {
                        .tit .line {
                            width: 130px;
                            background-image: url("../../../images/naverTit_L.png");
                            bottom: 3px;
                            @media #{$tabletH} {
                                width: 110px;
                                bottom: 0px;
                                background-size: 110px 18px;
                            }
                        }
                    }
                    &.apple {
                        .tit .line  {
                            width: 140px;
                            background-image: url("../../../images/appleTit_L.png");
                            @media #{$tabletH} {
                                width: 115px;
                                background-size: 115px 18px;
                            }
                        }
                    }
                    &.podopod {
                        .tit .line  {
                            width: 135px;
                            background-image: url("../../../images/podopodTit_L.png");
                            bottom: 3px;
                            @media #{$tabletH} {
                                width: 110px;
                                bottom: 0px;
                                background-size: 110px 18px;
                            }
                        }
                    }
                    .divi {
                        position: absolute;
                        top: 30px;
                        left: 180px;
                        transform: translate(0%, -50%);
                        line-height: 50px;
                        font-weight: 700;
                        font-size: 1.2em;
                        line-height: 40px;
                        padding-left: 70px;
                        color: #333;
                        &::after {
                            @include after();
                            width: 60px;
                            height: 1px;
                            background-color: #333;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translate(0, -50%);
                        }
                    }
                    .lang_menu {
                        @include flexBox(flex-start);
                        margin: 40px 0;
                        position: relative;
               
                        li.lang {
                            margin-right: 10px;
                            width: 54px;
                            height: 54px;
                            position: relative;
                            background-size: 54px 54px;
                            background-repeat: no-repeat;
                            background-position: center center;
                            &.html5 {
                                background-image: url("../../../images/html5i.png");
                            }
                            &.css3 {
                                background-image: url("../../../images/css3i.png");
                            }
                            &.jQuery {
                                background-image: url("../../../images/jq.png");
                            }
                            &.javascript {
                                background-image: url("../../../images/js.png");
                            }
                            &:last-child {
                            margin-right:0;
                            }
                        }
                    }
                    
                    .pers_menu {
                        @include flexBox(flex-start);
                        margin-bottom: 20px;
                        li {
                            line-height: 40px;
                            margin-right: 10px;
                            font-weight: 600;
                            font-size:  1.5625em;
                            text-indent: 10px;
                            color: #888;
                            &:first-child {
                            color: #262626;
                            }
                            @media #{$tabletV} {
                                text-indent: 0;
                            }
                        }
                    }
                    
                    .tit2 {
                        font-size: 1.5625em;
                        font-weight: 600;
                        line-height: 1.5;
                        color: #333;
                        margin-bottom: 20px;
                        text-indent: 10px;
                        @media #{$tabletV} {
                            text-indent: 0;
                        }
                        @media #{$phoneV} {
                            font-size: 1.4em;
                        }
                    }
                    .exp {
                        text-indent: 10px;
                        font-size: 1.5em;
                        height: auto;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-weight: 600;
                        line-height: 1.5;
                        color: #888;
                        text-indent: 10px;
                        margin-bottom: 30px;
                        @media #{$tabletV} {
                            text-indent: 5px;
                        }
                    }
                    .git {
                        
                        a.gitlink {
                            display: block;
                            text-indent: 10px;
                            line-height: 1;
                            color: #0066cc;
                            font-size: 1.3em;
                            font-weight: 500;
                            @media #{$tabletV} {
                                text-indent: 0;
                            }
                        }
                    }
                    
                }
            }
            


            .imgbox {
                width: 600px;
                max-height: 700px;
                padding: 20px;
                box-sizing: border-box;
                position: relative;
                @media #{$tabletH} {
                    width: auto;
                    height: auto;
                    margin: auto;
                }
                @media #{$tabletV} {
                    max-width: 600px;
                    width: auto;
                    height: auto;
                    margin: auto;
                }
                @media #{$phoneH} {
                    width: 100%;
                }
                a.link {
                    position: relative;
                    display: block;
                    width: auto;
                    height: auto;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    padding: 50px 75px;
                    box-sizing: border-box;
                    box-shadow: 3px 3px 7px 0px rgba(0,0,0,.5); 
                    // @media #{$tabletH} {
                    //     width: 472px;
                    //     height: 560px;
                    // }
                    @media #{$phoneV} {
                        padding: 25px 39px 25px 41px;
                    }
                    .img {
                        width: 410px;
                        padding-bottom: 135%;
                        display: block;
                        background-repeat: no-repeat;
                        background-position: center center;    
                        background-size: cover;    
                        box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.4), 
                        0 8px 16px -8px rgba(0,0,0,.7),0 -6px 16px -6px rgba(0,0,0,0.08); 
                        .blind {
                            @include blind();
                        }   
                        @media screen and (max-width : 1024px) and (min-width : 769px) {
                            max-width: 320px;
                        } 
                        @media screen and (min-width : 768px) and (max-width : 737px) {
                            max-width: 410px;
                        } 
                        @media #{$phoneH} {
                            max-width: 100%
                        } 
                    }
                }
                &.naver {
                    .link {
                        background-image: url("../../../images/naverBG_2x.png");
                        .img {
                            background-image: url("../../../images/naver_2x.jpg");
                        }
                    } 
                }
                &.apple {
                    .link {
                        background-image: url("../../../images/appleBG_2x.png");
                        .img {
                            background-image: url("../../../images/apple_2x.jpg");
                        }
                    } 
                }
                &.podopod {
                    .link {
                        background-image: url("../../../images/podoBG_2x.png");
                        .img {
                            background-image: url("../../../images/podo_2x.jpg");
                        }
                    } 
                }
                
            }

            
            }

        }
}
    
}

